<div class="grid-init">
    <div class="row">
        <div class="col-12 text-center">
            <label class="card-title h2">Bienvenido a Prestamos <strong>Yujules Wow!</strong></label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center h5">
            <p>Un app que te ayudara a conseguir creditos grupales exclusivos, en tan solo <strong>2</strong> sencillos pasos, cuando estes listo pulsa en iniciar</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-success" (click)="creationProcess(2)">
                <mat-icon>play_arrow</mat-icon>&nbsp;
                <span>Iniciar</span>
            </button>
        </div>
    </div>
</div>