.title-podemos{
    background-color: #5BC776;
    color:white;
    mat-icon{
        color: white;
    }
}
mat-icon{
    top: 5px;
    position: relative;
}
.card{
    border-radius: 10px;
}
.grid-init{
    padding-top: 50%;
    padding-bottom: 50%;
}
.grid-congrats{
    padding-top: 30%;
    padding-bottom: 30%;
}
.grid-user{
    padding-top: 40%;
    padding-bottom: 40%;
}
.grid-group{
    padding-top: 15%;
    padding-bottom: 15%;
}
.data-user{
    background-color: #5BC776;

}
.nameCustomer{
    text-transform: capitalize;
}
  