<div class="d-flex h-100 p-3 mx-auto flex-column">
    <header class="mb-auto colors-title" >
        <div class="row"  >
            <div class="col-2 col-sm-2 col-lg-2" style="text-align: center; border: 1px solid red;"></div>
            
            <div class="col-8 col-sm-8 col-lg-8" style="text-align: center; border: 1px solid red;">
                PODEMOS PROGRESAR
            </div>
            <div class="col-2 col-sm-2 col-lg-2" style="text-align: center; border: 1px solid red;">
            </div>
        </div>
    </header>
    <main role="main" class="mh-100 ">
        <div class="container-fluid">
            CONTENEDOR
        </div>
    </main>

</div>