<div class="grid-account">
    <div class="row">
        <div class="col-12 text-center">
            <label class="card-title h2">Paso 3</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="h5">El primer paso sera crear tu cuenta, por lo cual necesitamos tu nombre para asignarte un numero de cliente dentro de nuestra plataforma</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <form class="form-inline">
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Inserta tu Nombre">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-success">
                <mat-icon>account_circle</mat-icon>&nbsp;
                <span>Nuevo Cliente</span>
            </button>
        </div>
    </div>
</div>